{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb my-0 ms-2">
        <li class="breadcrumb-item active">Home</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Home page</h1>
        </div>
    </div>
{% endblock %}